/*
#################################################
 Navigation
#################################################
*/



/* = Menu
----------------------------------------------------------------------------------------------------------------- */
.nav {
  ul {
    margin: 0;
    list-style: none;
    position: relative;
    padding: 10px 0;
    @include break-md {
	    padding: 0;
    }
    li {
      position: relative;
      margin: 0;
      font-size: 0.867em;
      @include break-md {
	      display: inline-block;
      }
      a {
        color: #fff;
        width: 100%;
        display: block;
        text-align: left;
        position: relative;
        overflow: hidden;
        height: 30px;
        line-height: 30px;
        @include transition(all 0.5s ease-in-out);
        padding: 0 15px;
        &:hover {
          color: #fff;
        }
      }
      &:hover {
        background: rgba(0,0,0,0.6);
        color: #fff;
      }
      &:first-child {
        padding-left: 0;
      }
    }
    li:hover > ul {
      display:block
    }
  }
}

#primary-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: $color-primary;
  z-index: 11;
  overflow-y: hidden;
  font-size: 1.231em;
  &.open { 
    height: auto;
  }
  @include break-md {
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 30px;
    overflow-y: hidden;
    &.open {
    	height: 30px;
    }
  }
}

#secondary-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: $color-secondary;
  z-index: 10;
  overflow-y: auto;
  @include transition(all 0.5s ease-in-out);
  &.open { 
    width: $secondary-size;
  }
  @include break-md {
    top: 30px;
    bottom: auto;
    width: 100%;
    height: 30px;
    overflow-y: hidden;
    &.open {
    	width: 100%;
    	z-index: 20;
    }
  }
}


/* = Mobile Menu
----------------------------------------------------------------------------------------------------------------- */
.menuTrigger {
	top: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  @include transition(all 0.5s ease-in-out);
  @include break-md {
    display: none;
  }
}

#menuTrigger1 {
	position: fixed;
  right: 10px;
  z-index: 12;
  &.open {
    border: 1px solid #eaeaea;
  }
}

#menuTrigger2 {
	position: fixed;
  left: 10px;
  z-index: 10;
  &.open {
	  z-index: 13;
    left: calc(#{$secondary-size} + 10px);
  }
  @include break-md {
    left: calc(#{$secondary-size} + 10px);
  }
}

.burger {
  width: 18px;
  height: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  .line {
    @include transform(0.6s);
    height: 3px;
    background: #000;
    position: absolute;
    &.top {
      top: 0;
      width: 50%;
    }
    &.mid {
      width: 100%;
      top: 6px;
    }
    &.bottom {
      bottom: 0;
      width: 50%;
    }
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    &.top {
      &.left {
        @include transform-origin(0% 0%);
      }
      &.right {
        @include transform-origin(100% 0%);
      }
    }
    &.bottom {
      &.left {
        @include transform-origin(0% 100%);
      }
      &.right {
        @include transform-origin(100% 100%);
      }
    }
  }
}

.open .burger .line {
  @include transform(0.6s);
  background: #000;
  &.top {
    &.left {
      @include translate(translate(2px, -1px) rotate(45deg) scaleX(1.25));
    }
    &.right {
      @include translate(translate(-2px, -1px) rotate(-45deg) scaleX(1.25));
    }
  }
  &.bottom {
    &.left {
      @include translate(translate(2px, 2px) rotate(-45deg) scaleX(1.25));
    }
    &.right {
      @include translate(translate(-2px, 2px) rotate(45deg) scaleX(1.25));
    }
  }
  &.mid {
    @include translate(scaleX(0));
  }
}
