/* = Text-Level
----------------------------------------------------------------------------------------------------------------- */

h2 { 
	font-family: $font-primary;
	font-weight: bold;
	font-size: 2em;
	line-height: 1.5;
	text-align: center;
	margin: 40px 0 20px;
}

p {
	margin: 0 0 10px;
	line-height: 1.5;
}